html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    border: 0px;
    width: 100%;

}

.part_0 {
    height: 700px;
    background-image: url("/img/video.mp4");
    background-size: 100%;
}

.asd {
    width: 100%;
    height: 100;

}


.menu_container {
    position: fixed;
    z-index: 0;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: block;

}

.eee {
    float: left;
    clear: both;



}

.menu_container div {
    margin: 10px 20px 10px 20px;

    display: block;

}

.menu_points {
    text-decoration: none;
    color: white;
    float: right;
    clear: both;
    margin: auto;
    font-size: 15px;
    font-family: Arial;
    text-transform: uppercase;
    opacity: 0%;
    transition: 0.2s;
    margin-right: 30px;

}

.dots:hover .menu_points {
    font-size: 20px;
    opacity: 100%;


}

.dots {
    width: 20px;
    height: 20px;
    float: left;
    border: 2px solid #fff;
    border-radius: 40px;
}
.dots:hover {
   background-color: white;
    cursor: pointer;
}

.headline_0 {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 80px;
    font-family: PT Sans Caption;
    color: white;
}

.part_a {
    background-color: black;
    height: 700px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a1 {
    width: 450px;
    color: white;
    line-height: 45px;
    font-size: 1.4rem;
    font-family: candara;

}

.part_a_image {
    height: 500px;
    width: 300px;
    background-image: url(https://indyweek.com/downloads/71775/download/1.16-food-vegan-kitchen.jpg?cb=85a9abff677218d01c42d6127d9344ef&w=1024&h=);
    background-size: 100%;
    transition: 0.5s;
    background-position: center;

}

.part_a_image:hover {
    opacity: 0.3;
    background-size: 120%;

}

.text {
    text-align: center;
    color: white;
    font-size: 50px;


}

.a_h1 {
    text-align: center;
    font-family: Times new roman;
    font-size: 50px;

}

.part_b {
    background-color: salmon;
    height: 700px;

}

.part_b_image {

    height: 200px;
    width: 350px;
    margin: 30px;
    background-image: url(https://static01.nyt.com/images/2019/02/06/dining/06Hungry-slideshow-slide-B06X/06Hungry-slideshow-slide-B06X-superJumbo.jpg?quality=75&auto=webp&disable=upscale);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform .2s;
    float: left;
    clear: right;

}

.part_b_image:hover {
    transform: scale(1.2);

}

.part_c {
    background-color: thistle;
    height: 700px;
}

#rating {
    width: 300px;
    height: 200px;
    background-color: cadetblue;
}

.count {
    line-height: 100px;
    color: white;
    margin-left: 30px;
    font-size: 25px;
}

.part_d {
    background-color: black;
    height: 700px;
    align-items: center;
    display: flex;


}
.d_text_big_container
{
    justify-content: center;
    display: flex;
    align-items: center;
    float: left;
}
.d_text_container
{

    width: 350px;
    height: 500px;
    margin-left: -30px;
    margin-top: 30px;
    font-size: 20px;
    color: white;
    font-family: PT Sans Caption;
}
.usta
{
    color: white;
}
.img
{
    width: 60%;
    float: left;

}

.part_e {


    background-image: url(../img/history.jpg);
    background-size: 100%;
    height: 700px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.e_text_container
{
    width: 60%;
    height: 30%;
    max-width: 80%;
    background-color: black;
    opacity: 0.6;
    padding: 50px 70px;

}
.e_headline
{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: PT Sans Caption;
    margin: 0;
}
.e_text
{
    text-align:justify;
    font-size: 20px;
    font-family: PT Sans Caption;
    color: white;
}









