html {
    scroll-behavior: smooth;
    font-family: PT Sans Caption;
}

body {
    margin: 0;
    border: 0px;
    width: 100%;

}

.part_0 {
    height: 700px;
    background-image: url("/img/video.mp4");
    background-size: 100%;
}

.asd {
    width: 100%;
    height: 100;

}


.menu_container {
    position: fixed;
    z-index: 0;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: block;

}

.eee {
    float: left;
    clear: both;



}

.menu_container div {
    margin: 10px 20px 10px 20px;

    display: block;

}

.menu_points {
    text-decoration: none;
    color: white;
    float: right;
    clear: both;
    margin: auto;
    font-size: 15px;
    font-family: Arial;
    text-transform: uppercase;
    opacity: 0%;
    transition: 0.2s;
    margin-right: 30px;

}

.dots:hover .menu_points {
    font-size: 20px;
    opacity: 100%;


}

.dots {
    width: 20px;
    height: 20px;
    float: left;
    border: 2px solid #fff;
    border-radius: 40px;
}
.dots:hover {
   background-color: white;
    cursor: pointer;
}

.headline_0 {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 80px;
    color: white;
}

.part_a {
    background-color: black;
    height: 700px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a1 {
    width: 450px;
    color: white;
    line-height: 45px;
    font-size: 1.4rem;
    font-family: candara;

}

.part_a_image {
    height: 500px;
    width: 300px;
    background-image: url(https://indyweek.com/downloads/71775/download/1.16-food-vegan-kitchen.jpg?cb=85a9abff677218d01c42d6127d9344ef&w=1024&h=);
    background-size: 100%;
    transition: 0.5s;
    background-position: center;

}

.part_a_image:hover {
    opacity: 0.3;
    background-size: 120%;

}

.text {
    text-align: center;
    color: white;
    font-size: 50px;


}

.a_h1 {
    text-align: center;
    font-family: Times new roman;
    font-size: 50px;

}

.part_b {
    background-color: salmon;
    height: 700px;

}

.part_b_image {

    height: 200px;
    width: 350px;
    margin: 30px;
    background-image: url(https://static01.nyt.com/images/2019/02/06/dining/06Hungry-slideshow-slide-B06X/06Hungry-slideshow-slide-B06X-superJumbo.jpg?quality=75&auto=webp&disable=upscale);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform .2s;
    float: left;
    clear: right;

}

.part_b_image:hover {
    transform: scale(1.2);

}

.part_c {
    background-color: thistle;
    height: 700px;
}

#rating {
    width: 300px;
    height: 200px;
    background-color: cadetblue;
}

.count {
    line-height: 100px;
    color: white;
    margin-left: 30px;
    font-size: 25px;
}

.part_d {
    background-color: black;
    height: 700px;
    align-items: center;
    display: flex;


}
.d_text_big_container
{
    justify-content: center;
    display: flex;
    align-items: center;
    float: left;
}
.d_text_container
{

    width: 350px;
    height: 500px;
    margin-left: -30px;
    margin-top: 30px;
    font-size: 20px;
    color: white;
}
.usta
{
    color: white;
}
.img
{
    width: 60%;
    float: left;

}

.part_e {


    background-image: url(../img/history.jpg);
    background-size: 100%;
    height: 700px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.e_text_container
{
    width: 60%;
    height: 30%;
    max-width: 80%;
    background-color: black;
    opacity: 0.7;
    padding: 50px 70px;

}
.e_headline
{
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0;
}
.e_text
{
    text-align:justify;
    font-size: 20px;
    color: white;
}

.part_f
{
    background-image: url(../img/goals.jpg);
    background-size: 100%;
    height: 800px;

    display: flex;
}

.f_text_container
{
    width: 1000px;
    height: 700px;
    background-color: black;
    opacity: 0.7;
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-top: 50px;

}

.f_left_part
{
    width: 40%;
    height: 70%;
    padding: 20px 60px;
}

.f_right_part
{
   width: 40%;
    height: 70%;
    padding: 20px 60px;

}

.f_headline
{
    color: white;
    font-size: 40px;

}

.f_text
{
    color: white;
    font-size: 20px;

}

.f_img
{
    max-width: 70%;
    margin-top: 50px;
    margin-left: 40px;
}

.part_g
{
    height: 700px;
    background-image: url(../img/city_c.jpg);
    background-size: 100%;
    align-items: center;
    display: flex;
}

.g_h_text_container
{
    width: 700px;
    height: 400px;
    background-color: black;
    margin: 50px 0 50px 50px;
    opacity: 0.7;
    color: white;
    font-size: 20px;
    padding: 100px 150px;

}

.part_h
{
    height: 700px;
    background-image: url(../img/street_food.jpg);
    background-size: 100%;
    align-items: center;
    display: flex;
}

.map
{
    width: 110px;
    position: absolute;
    right: 350px;

}

.footer_bg
{
    background-image: url(../img/footer_bg.jpg);
    background-size: 100%;
    height: 800px;
    display: flex;
    align-items: flex-end;
}

.footer_container
{
    height: 360px;
    width: 600px;
    background-color: black;
    opacity: 0.7;
    margin: 0 0 40px 40px;
}


.footer_headline
{
    width: 90%;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.footer_hl
{
    margin: 0;
    color: white;
    font-size: 45px;
}

.footer_hours
{
    width: 30%;
    height: 300px;
     margin-left: 30px;
    float: left;
    clear: left;
    margin-right: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.moreinfo
{
    width: 50%;
    height: 300px;
    float: left;
    margin-left: 30px;
    margin-top: -50px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;

}

.hours_table
{
    font-size: 20px;
    color: white;
}



/*-----------------*/




/*CUISINE*/

.gallery-wrapper{
    max-width: 900px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.column{
    width: 33.3%;
}

.content{
    width: 95%;
    height: 200px;
    margin: 10px 0;
    position: relative;
    transition: 0.3s;
}

.content2{
    width: 95%;
    height: 400px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.content img{
    width: 100%;
    height: auto;
}

.content2 img{
    width: 100%;
    height: auto;
}

.food-title{
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: rgb(0, 0, 0, 0.6);
    cursor: pointer;
    transition: .3s;

}

.content2 .food-title{
    height: 100%;
}

.content2 .food-title h4{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.food-title:hover{
    opacity: 1;
}

.food-title h4{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}


.food{
    max-width: 900px;
    margin: 50px auto 20px auto;
    text-align: center;
    color: #3E2B24;
}

.food > div {
    width: 100%;
    height: 400px;
    background-color: #ECEAE0;
}

.sth{
    display: flex;
    min-height: 100%;
    width: 100%;
}

.exit{
    color: white;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.exit:hover{
    color: rgb(219, 219, 219);
}

.half{
    width: 50%;
    height: 390px;
    padding: 20px 10px;
    text-align: left;
}

.half img{
    width: 100%;
    height: auto;
}

.half h3{
    font-size: 30px;
    color: #3E2B24;
}

.st img{
    height: 80%;
    margin: auto;
    width: auto;
}

.food-content{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

/***END CUISINE***/
